.cls-1 {
  fill: #e5f1ef;
}
.cls-2 {
  fill: #c8d9d2;
}
.cls-3 {
  fill: #becdc8;
}
.cls-4 {
  fill: #b59b00;
}
.cls-5 {
  fill: #423c52;
}
.cls-6,
.cls-8,
.cls-9 {
  fill: #fff;
}
.cls-6,
.cls-7,
.cls-8 {
  stroke: #423c52;
}
.cls-12,
.cls-6,
.cls-7,
.cls-8 {
  stroke-linecap: round;
  stroke-width: 5px;
}
.cls-12,
.cls-6,
.cls-7 {
  stroke-miterlimit: 10;
}
.cls-12,
.cls-7 {
  fill: none;
}
.cls-8,
.cls-9 {
  stroke-linejoin: round;
}
.cls-9 {
  stroke: #fe552f;
  stroke-width: 6px;
}
.cls-10 {
  fill: #fe552f;
}
.cls-11 {
  fill: #ffdb00;
}
.cls-12 {
  stroke: #fff;
}