.nfnd-1 {
  fill: #e5f1ef;
}
.nfnd-2 {
  fill: #c8d9d2;
}
.nfnd-3 {
  fill: #becdc8;
}
.nfnd-4 {
  fill: #b59b00;
}
.nfnd-5 {
  fill: #423c52;
}
.nfnd-6,
.nfnd-8,
.nfnd-9 {
  fill: #fff;
}
.nfnd-6,
.nfnd-7,
.nfnd-8 {
  stroke: #423c52;
}
.nfnd-12,
.nfnd-6,
.nfnd-7,
.nfnd-8 {
  stroke-linecap: round;
  stroke-width: 5px;
}
.nfnd-12,
.nfnd-6,
.nfnd-7 {
  stroke-miterlimit: 10;
}
.nfnd-12,
.nfnd-7 {
  fill: none;
}
.nfnd-8,
.nfnd-9 {
  stroke-linejoin: round;
}
.nfnd-9 {
  stroke: #fe552f;
  stroke-width: 6px;
}
.nfnd-10 {
  fill: #fe552f;
}
.nfnd-11 {
  fill: #ffdb00;
}
.nfnd-12 {
  stroke: #fff;
}