$dblue: #1e425e;
$ddblue: #18354b;
$blue: #256670;
$gblue: #1e525a;
$dgreen: #407056;
$green: #ade28a;
$lgreen: #edfa8b;
  
$white: white;
$black: black;

$btn-disabled: #335067;
$link-optional: #7c949c;
$login-background: #dbe5e5;
$login-background-two: #d4dce6;
$input-placeholder: #a0aec0;
$input-focus: #e2e8f0;
$input-outline: #d9e2dd;
$mobile-nav-background: #151c29;
