@import 'variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  color: $white;
}

html {
  scroll-behavior: smooth;
}

#root {
  background: linear-gradient(to right, $ddblue, $dblue);
}