.notfound-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.notfound-header {
  margin-bottom: 3rem;
  font-size: 100px;
  font-weight: bold;
}

.notfound-svg-wrapper {
  width: 30%;
  height: auto;
}