@import '../../variables.scss';

.notfound-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  z-index: 1;
  
  .notfound-header {
    font-family: $poppins;
    font-size: 100px;
    font-weight: bold;
  }
  
  .notfound-svg-wrapper {
    width: 30%;
    height: auto;
    margin: 3rem 0;
  }
  
  .notfound-subheader {
    font-family: $poppins;
    font-size: 25px;
  }
}
