@import "../../variables.scss";

.profile-settings-wrapper {
  width: 100%;
  padding: 1rem 0.5rem;

  h3 {
    color: $black;
  }

  .profile-settings {
    display: flex;
    flex-direction: column;
    background: $mobile-nav-background;
  }

  .profile-option {
    padding: 8px;
    background: $btn-disabled;
    border-bottom: 1px solid $white;
    transition: 0.3s ease-in-out;

    .settings-icon {
      margin-right: 8px;
      cursor: pointer;
    }

    .darkmode-switch {
      position: relative;
      display: inline-block;
      width: 42px;
      height: 24px;

      .darkmode-slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $login-background-two;
        border-radius: 24px;
        cursor: pointer;
        transition: 0.4s;
      }

      .darkmode-slider::before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        border-radius: 50%;
        background: $white;
        transition: 0.4s;
      }

      input:checked + .darkmode-slider {
        background: $dgreen;
      }

      input:checked + .darkmode-slider:before {
        transform: translateX(18px);
      }

      input:focus + .darkmode-slider {
        box-shadow: 0 0 1px #2196f3;
      }

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }
    }
  }

  .profile-option:last-child {
    border-bottom: none;
  }

  .settings-btn {
    padding: 4px 15px;
    width: 100%;
    background: $dgreen;
    border: 2px solid $blue;
    border-radius: 10px;

    .location-profile-icon {
      margin-right: 10px;
      transition: 0.2s ease-in-out;
    }
  }

  .settings-btn:nth-child(2) {
    margin-top: 0.8rem;
  }

  .settings-option {
    height: 0;
    overflow: hidden;
  }

  .settings-option.active {
    height: 100%;
    margin: 1rem 0;
  }

  .logout-btn {
    margin-top: 1rem;
    font-size: 130%;
  }

  .location-profile-icon.active {
    transform: rotate(180deg);
  }
}
