.log-1 {
  fill: #dbe5e5;
}
.log-14,
.log-2,
.log-3 {
  fill: #fff;
}
.log-12,
.log-14,
.log-3 {
  stroke: #423c52;
}
.log-10,
.log-12,
.log-14,
.log-3,
.log-6 {
  stroke-linecap: round;
}
.log-10,
.log-12,
.log-3,
.log-6,
.log-8 {
  stroke-miterlimit: 10;
}
.log-12,
.log-14,
.log-3,
.log-6 {
  stroke-width: 5px;
}
.log-4 {
  fill: #423c52;
}
.log-5 {
  fill: #fe552f;
}
.log-10,
.log-12,
.log-6,
.log-8 {
  fill: none;
}
.log-6 {
  stroke: #fe552f;
}
.log-7 {
  fill: #b59b00;
}
.log-10,
.log-8 {
  stroke: #41465a;
  stroke-width: 6px;
}
.log-9 {
  fill: #ffdb00;
}
.log-11 {
  fill: #907b00;
}
.log-13 {
  fill: #a0505a;
}
.log-14 {
  stroke-linejoin: round;
}