.footer-svg-wrapper {
  position: relative;
  width: 40%;
  height: auto;
  margin: 0 auto;
  padding: 100px 0 0;
  z-index: 2;
}

.ftr-1 {
  isolation: isolate;
}
.ftr-2,
.ftr-22 {
  fill: #dbe5e5;
}
.ftr-10,
.ftr-16,
.ftr-17,
.ftr-19,
.ftr-20,
.ftr-21,
.ftr-24,
.ftr-27,
.ftr-29,
.ftr-3,
.ftr-30,
.ftr-5,
.ftr-9 {
  fill: none;
}

.ftr-custom {
  fill: #004cff;
}
.ftr-custom-two {
  fill: #2ad44c;
}
.ftr-3,
.ftr-30,
.ftr-5,
.ftr-9 {
  stroke: #fff;
}
.ftr-16,
.ftr-21,
.ftr-24,
.ftr-27,
.ftr-29,
.ftr-3,
.ftr-30,
.ftr-5 {
  stroke-linecap: round;
}
.ftr-20,
.ftr-21,
.ftr-23,
.ftr-24,
.ftr-3,
.ftr-30,
.ftr-5 {
  stroke-linejoin: round;
}
.ftr-10,
.ftr-11,
.ftr-23,
.ftr-24,
.ftr-3 {
  stroke-width: 6px;
}
.ftr-4 {
  fill: #423c52;
}
.ftr-5 {
  stroke-width: 7px;
}
.ftr-11,
.ftr-13,
.ftr-23,
.ftr-28,
.ftr-6,
.ftr-8 {
  fill: #fff;
}
.ftr-26,
.ftr-7 {
  fill: #ffdb00;
}
.ftr-19,
.ftr-27,
.ftr-8 {
  stroke: #ffdb00;
}
.ftr-10,
.ftr-11,
.ftr-13,
.ftr-16,
.ftr-17,
.ftr-19,
.ftr-27,
.ftr-28,
.ftr-29,
.ftr-8,
.ftr-9 {
  stroke-miterlimit: 10;
}
.ftr-13,
.ftr-16,
.ftr-17,
.ftr-19,
.ftr-20,
.ftr-21,
.ftr-27,
.ftr-28,
.ftr-29,
.ftr-30,
.ftr-8,
.ftr-9 {
  stroke-width: 5px;
}
.ftr-10,
.ftr-11 {
  stroke: #dbe5e5;
}
.ftr-12 {
  fill: #fe552f;
}
.ftr-13,
.ftr-23,
.ftr-24 {
  stroke: #fe552f;
}
.ftr-14 {
  fill: #b59b00;
}
.ftr-15 {
  fill: #907b00;
}
.ftr-16,
.ftr-17 {
  stroke: #b59b00;
}
.ftr-18 {
  fill: #eb7500;
}
.ftr-20,
.ftr-21,
.ftr-28,
.ftr-29 {
  stroke: #423c52;
}
.ftr-22 {
  mix-blend-mode: multiply;
}
.ftr-25 {
  fill: #a0505a;
}
.ftr-26 {
  opacity: 0.5;
}
