@import '../../../variables.scss';

.back-to-home-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to right, $gblue, $blue);
  margin-top: 2rem;
  border-radius: 10px;
  font-size: 25px;
  border: 1px solid $white; 

  .back-to-home-inner {
    transition: 0.2s ease-in-out;
    padding: 8px 25px;
  
    .back-to-home-icon {
      margin-right: 10px;
    }
  }
}

.back-to-home-inner:hover {
  opacity: 0.7;
}