.footer-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  padding: 0 1rem;
  background: linear-gradient(to right, var(--gblue), var(--blue));
}

.footer-developers {
  position: absolute;
  right: 1rem;
  transition: 0.2s ease-in-out;
}

.footer-developers:hover {
  opacity: 0.5;
}