@import '../../../variables.scss';

.blog-post-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.single-blog-post > *,
.blog-post-header-wrapper > * {
  color: $black;
}

.single-blog-post {
  position: relative;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid $white;
  border-radius: 10px;
  background: $login-background-two;
  z-index: 5;

  .blog-post-header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-family: $poppins;
    font-size: 23px;
  }

  .blog-post-body {
    font-family: $nunito;
    font-size: 18px;
  }

  .blog-post-toolbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: $btn-disabled;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 50px;

    .blog-post-toolbar-right,
    .blog-post-toolbar-left {
      li:nth-child(1) {
        margin: 0 1rem;
      }
    }

    .blog-post-toolbar-right,
    .blog-post-toolbar-left {
      svg {
        path {
          color: $login-background-two;
          cursor: pointer;
          transition: 0.2s ease-in-out;
        }
      }
    }

    .blog-post-toolbar-right,
    .blog-post-toolbar-left {
      svg {
        path:hover {
          color: $input-placeholder;
        }
      }
    }

    .blog-post-toolbar-right,
    .blog-post-toolbar-left {
      svg {
        path:focus {
          color: $input-placeholder;
        }
      }
    }
  }
}
