@import '../../../variables.scss';

.charity-card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.single-charity-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 2rem;
  padding: 1rem;
  border-radius: 10px;
  background: $login-background-two;
  text-align: center;
}

.charity-card-header-wrapper > * {
  color: $black;
  margin: 0.5rem;
}

.charity-name {
  font-size: 25px;
}

.charity-desc {
  font-size: 18px;
}

.charity-card-img {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.charity-donate-btn {
  margin-top: 1rem;
}