.emission-donation-text {
  width: 100%;
  text-align: center;
}

.emission-donation-header {
  padding-bottom: 1rem;
  font-size: 30px;
}

.emission-donation-subheader {
  font-size: 22px;
}

.emission-donation-desc {
  font-size: 20px;
}