@import '../../variables.scss';

.profile-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90vh;
  background: linear-gradient(to right, $ddblue, $dblue);

  .profile-body-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding: 2rem 1rem;
    border-radius: 10px;
    height: fit-content;
    width: 60%;
    background: $login-background-two;

    h1, h2 {
      color: $black;
    }

    .profile-img-wrapper {
      width: 100px;
      height: auto;
      border: 4px solid $dgreen;
      border-radius: 100%;
    
      .profile-img {
        border-radius: 100%;
      }
    }

    .profile-name {
      margin: .5rem 0 1rem 0;
      font-size: 120%;
    }

    .profile-info {
      width: 100%;
      padding: 0 8px;
      border-top: 1px solid white;
    }
    
    .profile-email {
      margin: 1rem 0 0.3rem;
    }
  }

  .profile-settings-wrapper {
    background: $input-placeholder;
    border-radius: 10px;
  }
}