.profile-wrapper {
  display: flex;
  flex-direction: row;
  height: 90vh;
  background: linear-gradient(to right, var(--ddblue), var(--dblue));
}

.profile-body-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.profile-img-wrapper {
  width: 100px;
  height: auto;
  margin-top: 5rem;
  border: 4px solid var(--dgreen);
  border-radius: 100%;
}

.profile-img {
  border-radius: 100%;
}

.profile-name {
  margin: .5rem 0 1rem 0;
  font-size: 120%;
}

.profile-info {
  width: 80%;
  border-top: 1px solid white;
}

.profile-email {
  margin: 1rem 0 0.3rem;
}