.login-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem 1rem 0 1rem;
}

.login-input {
  margin: 8px 0;
  color: black;
}

.login-label {
  margin-right: 10px;
}

.password-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.show-password {
  position: absolute;
  right: 1rem;
  color: black;
}

.submit-btn {
  padding: 4px 15px;
  border-radius: 8px;
  background: var(--dgreen);
}

.login-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.location-signup-wrapper {
  display: flex;
  flex-direction: row;
}

.location-wrapper-left {
  width: 65%;
}

.location-wrapper-right {
  width: 30%;
  margin-left: 5%;
}