.login-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  margin-top: 5rem;
  width: 40%;
  background: linear-gradient(to right, var(--ddblue), var(--dblue));
  padding: 1rem;
}

.login-input {
  margin: 8px 0;
  color: black;
}

.login-label {
  margin-right: 10px;
}

.password-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.show-password {
  position: absolute;
  right: 1rem;
  color: black;
}