@import '../../variables.scss';

/* .emission-donation-wrapper {
  height: 100%;
  padding: 1rem 0;
  background: linear-gradient(to right, var(--gblue), var(--blue));
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
} */

.emission-donation-wrapper {
  position: relative;
  height: 100%;
  width: 95%;
  margin: 0 auto;
  padding: 1rem 0;
  background: linear-gradient(to right, $gblue, $blue);
  border-bottom: 1px solid $white;
  border-left: 1px solid $white;
  border-right: 1px solid $white;
  border-radius: 0 0 10px 10px;
  z-index: 5;
}

.emission-donation-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3rem;
}