.login-form-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background: linear-gradient(to right, var(--ddblue), var(--dblue));
  width: 40%;
  margin: 0 auto;
  margin-top: 5rem;
  padding-bottom: 1rem;
}

.form-switcher {
  width: 90%;
  padding: 0 1rem;
  text-align: left;
}