@import '../../../variables.scss';

.back-btn-link {
  background: $gblue;
  margin: 0rem 0rem 1rem 1rem;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 120%;

  .back-icon {
    margin-right: 8px;
  }
}