.homepage-svg-wrapper {
  position: relative;
  width: 90%;
  height: auto;
  margin: 0 auto;
  z-index: 5;
}

.hmpg-1 {
  fill: #e5f1ef;
}
.hmpg-2 {
  fill: #c8d9d2;
}
.hmpg-3 {
  fill: #907b00;
}
.hmpg-4 {
  fill: #b59b00;
}
.hmpg-12,
.hmpg-14,
.hmpg-15,
.hmpg-16,
.hmpg-19,
.hmpg-20,
.hmpg-21,
.hmpg-22,
.hmpg-23,
.hmpg-5,
.hmpg-8 {
  fill: none;
}
.hmpg-16,
.hmpg-17,
.hmpg-19,
.hmpg-20,
.hmpg-21,
.hmpg-22,
.hmpg-23,
.hmpg-5 {
  stroke: #423c52;
}
.hmpg-15,
.hmpg-17,
.hmpg-19,
.hmpg-20,
.hmpg-22,
.hmpg-23,
.hmpg-5,
.hmpg-8 {
  stroke-linecap: round;
}
.hmpg-12,
.hmpg-14,
.hmpg-15,
.hmpg-16,
.hmpg-17,
.hmpg-19,
.hmpg-20,
.hmpg-21,
.hmpg-22,
.hmpg-23,
.hmpg-5,
.hmpg-8 {
  stroke-miterlimit: 10;
}
.hmpg-12,
.hmpg-14,
.hmpg-16,
.hmpg-17,
.hmpg-19,
.hmpg-20,
.hmpg-5,
.hmpg-8 {
  stroke-width: 5px;
}
.hmpg-6 {
  fill: #ffdb00;
}
.hmpg-7 {
  fill: #423c52;
}
.hmpg-12,
.hmpg-15,
.hmpg-8 {
  stroke: #fff;
}
.hmpg-17,
.hmpg-9 {
  fill: #fff;
}
.hmpg-10 {
  fill: #a0505a;
}
.hmpg-11 {
  fill: #fe552f;
}
.hmpg-13 {
  fill: #ff7500;
}
.hmpg-14 {
  stroke: #fe552f;
}
.hmpg-15,
.hmpg-23 {
  stroke-width: 4px;
}
.hmpg-18 {
  fill: #eb7500;
}
.hmpg-19 {
  stroke-dasharray: 17.12 17.12;
}
.hmpg-20 {
  stroke-dasharray: 16.83 16.83;
}
.hmpg-21,
.hmpg-22 {
  stroke-width: 3px;
}