@import "../../variables.scss";

li,
a {
  display: inline-block;
  text-decoration: none;
}

.navbar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, $ddblue, $dblue);
  padding: 0 2rem;

  .nav-right {
    font-size: 1.5em;

    .mobile-nav-icons {
      display: none;
    }
  }

  .nav-left {
    font-size: 2rem;
  }

  .nav-item-wrapper {
    display: flex;

    .nav-item {
      margin: 0 1rem;
      transition: 0.2s ease-in-out;
    }
  }

  .mobile-nav-item {
    display: none;
  }
}

.hamburger {
  display: none;
  cursor: pointer;

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: $white;
  }
}
