li,
a {
  display: inline-block;
  text-decoration: none;
}

.navbar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, var(--ddblue), var(--dblue));
  padding: 0 2rem;
  border-bottom: 2px solid white;
}

.nav-right {
  font-size: 1.5em;
}

.nav-left {
  font-size: 2rem;
}

.nav-item {
  margin: 0 1rem;
}

.nav-item:nth-child(3) {
  margin: 0 2rem 0 1rem;
}