@import '../../../variables.scss';

.donation-card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  
  .donation-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    height: 350px;
    width: 30%;
    border-radius: 10px;
    background: $login-background-two;
    
    .card-info-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .card-header {
        color: $black;
        font-size: 130%;
      }

      .card-img {
        width: 70%;
        height: auto;
      }
    }
  }
}